.about {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    color: $color-white;
    z-index: 9999;
    opacity: 0;
    overflow-y: scroll;
    visibility: hidden;
    transition: all .3s;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absCenter;

        width: 75%;
        background-image: $color-gradient-light;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        opacity: 0;
        margin: 8rem 0 10rem 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;

        @media only screen and (max-width: $bp-large) {
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
        float: left;

        @media only screen and (max-width: $bp-large) {
            width: 50%;
        }
    }

    &__right {
        float: right;
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 2rem 4rem;

        @media only screen and (max-width: $bp-large) {
            width: 80%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            overflow-y: scroll;
            margin-bottom: 4rem;
        }
    }

    &__img {
        display: block;
        width: 80%;
        border-radius: 50%;
        box-shadow: .8rem .8rem .8rem 0 black;
        margin: 2rem 0 0 2rem;
        overflow: hidden;
        
        @media only screen and (max-width: $bp-large) {
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
    }

    &__text {
        font-size: 1.8rem;
        margin-bottom: 4rem;
        text-indent: 1rem;
        font-weight: 600;

        // moz-column-count: 2;
        // moz-column-gap: 4rem;
        // moz-column-rule: 1px solid $color-grey-light-2;

        // column-count: 3;
        // column-gap: 4rem;
        // column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @media only screen and (max-width: $bp-large) {
            font-size: $large-font-size;
        }
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-white;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
    
            @media only screen and (max-width: $bp-large) {
                top: 5rem;
                right: 5rem;
                font-size: 6rem;
            }
        }

        &:hover {
            color: $color-primary;
        }
    }
}