.documentary {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    overflow: hidden;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absCenter;

        height: 90vh;
        width: 90vh;
        background-image: $color-gradient-dark;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
        
        @media only screen and (max-width: $bp-large) {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;   
        }
        @media only screen and (max-width: $bp-smaller) {
            width: 90vw;   
        }
    }
    
    
    &__description {
        width: 80%;
        padding: 2rem 4rem;
        text-align: center;
        
        @media only screen and (max-width: $bp-large) {
            border-top: 1px solid black;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin: 2rem;
            overflow-y: scroll;
        }
    }

    &__video {
        display: block;
        height: auto;
        width: 40vw;
        border-radius: 3%;
        box-shadow: .8rem .8rem .8rem 0 black;
        overflow: visible;
        margin: 6rem 0rem 4rem 0rem;


        @media only screen and (max-width: $bp-small) {
            width: 60vw;
            height: 40vh;
            margin: 2rem;
        }
        @media only screen and (max-width: $bp-smaller) {
            margin-top: 4rem;
            height: 20vh;
        }
    }

    &__iframe {
        width: 100%;
        height: 100%;
    }

    &__text {
        font-size: 1.9rem;
        margin-bottom: 4rem;
        text-indent: 1rem;
        font-weight: 500;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @media only screen and (max-width: $bp-large) {
            font-size: $medium-font-size;
        }
        @media only screen and (max-width: $bp-medium) {
            font-size: $medium-font-size;
        }
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;

            @media screen and (max-width: $bp-large) {
                font-size: 5rem;
                top: 2rem;
                right: 3rem;
            }
            @media only screen and (max-width: $bp-small) {
                top: 1rem;
                right: 3rem;
                font-size: 4rem;
            }
        }

        &:hover {
            color: $color-primary;
        }
    }
}

.documentary__tag {
    display: none;
}