.header {
    height: 100vh;
    // background-image: linear-gradient(to right bottom,
    //         rgba($color-primary-light, 0.8),
    //         rgba($color-primary-dark, 0.8));
    background-size: cover;
    background-position: top;
    position: relative;

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8));
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: fixed;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @media only screen and (max-width: $bp-large) {
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: center;
            height: 70vh;
            width: 70vw;
            margin-top: 10rem;
        }

        @media only screen and (max-width: $bp-medium) {
            
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
    }
}