.music {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    visibility: hidden;
    transition: all .3s;
    
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }
    
    
    &__content {
        @include absCenter;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: $color-gradient-dark;
        width: 70%;
        height: 80%;
        overflow: hidden;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
        
        @media only screen and (max-width: $bp-large) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;  
        }
    }
    
    &__heading {
        background-color: $color-grey-dark-2;
        color: $color-white;
        width: 100%;
        position: fixed;
        top: 0;
        text-align: center;
        z-index: 9999;

        @media only screen and (max-width: $bp-large) {
              height: 5rem;
              padding-top: .5rem;
              font-size: $medium-font-size;
        }
    }
    
    &__list {
        grid-column: center-start / center-end; 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        grid-gap: 4rem;
        margin: 2rem 0 4rem 5rem;
        padding-left: 4rem;

        @media only screen and (max-width: $bp-large) {
            margin: 0;  
        }
    }
    
    &__project {
        // box-sizing: border-box;
        // border: .9rem outset $color-primary-light;
        width: 90%;
        height: 50rem;
        padding: 1rem;
        margin: 1rem;
        // box-shadow: 0 2rem 4rem rgba($color-black, .2);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    &__text {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40%;
        border: .2rem solid white;
        background-color: $color-white;
        color: $color-grey-dark-3;
        font-size: 1.9rem;
        text-indent: 1rem;
        font-weight: 500;
        padding: 1rem;
        margin: 1rem 0;
        overflow: auto;

        @media only screen and (max-width: $bp-large) {
            font-size: $medium-font-size;
            padding: 2rem;
      }

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        z-index: 9999;
        &:link,
        &:visited {
            color: $color-white;
            position: absolute;
            top: .3rem;
            right: 1.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;

            @media screen and (max-width: $bp-large) {
                font-size: 5rem;
                top: 0;
                right: 3rem;
            }
            @media only screen and (max-width: $bp-small) {
                top: .5rem;
                right: 3rem;
                font-size: 4rem;
            }
        }

        &:hover {
            color: $color-primary;
        }
    } 
}

.music__tag {
    display: none;
}