.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    &__light {
        display: initial;
    }

    &__dark {
        display: none;
    }

    &__content--light {
        object-fit: cover;
        height: 100vh;
        width: 100vw;
    }

    &__content--dark {
        object-fit: cover;
        height: 100vh;
        width: 100vw;
    }
}