.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 2rem 5rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: $large-font-size;

        border: none;
        cursor: pointer;

        @media only screen and (max-width: $bp-medium) {
            font-size: $default-font-size;
        }
        @media only screen and (max-width: $bp-small) {
            font-size: $default-font-size;
            padding: 1rem 2.5rem;
            height: 12vh;
        }
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--light {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }

        @media only screen and (max-width: $bp-large) {
            height: 15rem;
        }
    }

    &--dark {
        background-color: $color-secondary-dark;
        color: $color-white;

        &::after {
            background-color: $color-secondary-light;
        }

        @media only screen and (max-width: $bp-large) {
            height: 15rem;
        }
    }

    &--regular {
        background-color: $color-white;
        color: $color-black;

        &::after {
            background-color: $color-grey-dark;
        }

        @media only screen and (max-width: $bp-large) {
            width: 40%;
            text-align: center;
        }

        @media only screen and (max-width: $bp-medium) {
            height: 8rem;
        }
        @media only screen and (max-width: $bp-small) {
            height: 6rem;
        }
    }

    &--youtube {
        background-color: $color-red;
        color: $color-white;

        &::after {
            background-color: $color-secondary-light;
        }

        @media only screen and (max-width: $bp-large) {
            font-size: $default-font-size;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn-theme-light {
    width: 30%;
    margin: 2rem;
    display: initial;
    color: $color-black;
    opacity: .8;
    font-size: $large-font-size;

    @media only screen and (max-width: $bp-medium) {
        font-size: $medium-font-size;
        height: 8vh;
    }
    @media only screen and (max-width: $bp-medium) {
        width: 40%;
        font-size: $medium-font-size;
    }
}

.btn-theme-dark {
    display: none;
    margin: 2rem;
    opacity: .8;
    
    @media only screen and (max-width: $bp-medium) {
        font-size: $medium-font-size;
        height: 8vh;
    }
    @media only screen and (max-width: $bp-medium) {
        width: 40%;
        font-size: $medium-font-size;
    }
}